# Build time ignore
.git
.gitignore
.electron-data-debug
.trae
.vscode
dist-electron-*
graphify-out
agent-telemetry*
dashadmin-agent-dotnet*
scripts/
tools/
*.zip
*.md
*.py
debug-sync.js
replace_script.js
migrations/
src/db/schema.sql
.next
node_modules
npm-debug.log
.DS_Store
